In [1]:
import pandas as pd

## Loading the data and displaying first 10 rows

In [19]:
data = pd.read_csv("zadanie1.csv")
data.head(10)

        imie    nazwisko data_urodzenia
0    Jadwiga     Bilecka     01.01.1978
1      Rafal       Bobek     11.04.1978
2     Robert  Bobekowski     20.07.1978
3      Rafal  Bobikowski     28.10.1978
4      Rafal      Brobek      5.02.1979
5     Wiktor    Brudziak     16.05.1979
6   Boleslaw     Brynski     24.08.1979
7    Jadwiga   Chrilecka      2.12.1979
8    Liliana     Ciupala     11.03.1980
9  Katarzyna       Dawro     19.06.1980

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imie            108 non-null    object
 1   nazwisko        108 non-null    object
 2   data_urodzenia  108 non-null    object
dtypes: object(3)
memory usage: 2.7+ KB

## Convert data_urodzenia's dtype to datetime

In [22]:
data["data_urodzenia"] = pd.to_datetime(data["data_urodzenia"])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imie            108 non-null    object
 1   nazwisko        108 non-null    object
 2   data_urodzenia  108 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 2.7+ KB

## Creating a new DataFrame containing information of people born after 1999-12-31

In [23]:
yearCondition = (data["data_urodzenia"] > "1999-12-31")
bornAfter = data.loc[yearCondition]
print(f"Total number of people born after 1999-12-31: {bornAfter.value_counts().sum()}")

Total number of people born after 1999-12-31: 27

In [24]:
bornAfter.min()

imie                          Andrzej
nazwisko                    Polkowiak
data_urodzenia    2000-06-03 00:00:00
dtype: object

In [25]:
femaleNames = set(filter(lambda x: x.endswith("a"), data.imie))
print(f"Unique female names in the dataset: \n {femaleNames}")

Unique female names in the dataset:
 {'Jolanta', 'Barbara', 'Ewa', 'Krystyna', 'Kalina', 'Katarzyna', 'Jadwiga', 'Pelagia', 'Elwira', 'Liliana'}